[Desktop Entry]
Type=Link
Name=КотСерб_прогресс
URL=https://docs.google.com/spreadsheets/d/1pYuvfVd4saibGeXVsYUqehIaaQYMbFrWvclCiiP95YY/edit?usp=drivesdk
